
.not-found-page {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 12.5% 32px;
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 16px;
    }
    
    .collapse {
        width: 100%;
    }

}