
.not-found-page {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 12.5% 32px;
    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 16px;
    }
    
    .collapse {
        width: 100%;
    }
    //     root: {
//         height: '100%',
//         width: '100%',
//         overflow: 'auto',
//         padding: `12.5% ${theme.spacing(4)}px`,
//         boxSizing: 'border-box',
//     },
//     paper: {
//         display: 'flex',
//         alignItems: 'center',
//         justifyContent: 'space-between',
//         flexDirection: 'column',
//         padding: theme.spacing(2),
//     },
//     expansionPanel: {
//         '&:before': {
//             content: 'unset',
//         },
//     },
}